.container {
    position: relative;
    place-items: center;
}

.container img {
    display: block;
    justify-content: center;
    width: 100%;
}

.video-container {
    position: absolute;
    bottom: 30%;
    right: 1%;
    border: 50px #59b7e3;
    /* Толщина и цвет рамки */
    border-radius: 50px;
    padding-right: 2px;
    width: 25vw;
    height: 40vw;
    object-fit: cover;
    /* Подогнать видео по размеру */

}