.navbar {
    display: flex;
    background: none;
    justify-content: space-around;
    align-items: center;
}

.center-logo img {
    width: 150px;
    /* Устанавливает ширину логотипа */
    height: auto;
}


.nav-button {
    margin-right: 5vw;
    font-family: 'Comfortaa';
    font-size: 23px;
    color: #ffffff;
    padding: 1vw 2vw;
    border-radius: 5px;
    border: 2px;
    background: #e35914;
    background: linear-gradient(to top, #236076, #64d7ce);
    
}

.nav-button:hover {
    color: #ffffff;
    background: #0b5d7d;
    background: linear-gradient(to top, #004484, #abf6ff);
}

@media (min-width: 1100px) {
    .nav-button {
      margin-right: 1vw; /* Новое значение для больших экранов */
    }
}