.navbar {
    display: flex;
    background: none;
    justify-content: space-around;
    align-items: center;
}

.center-logo img {
    width: 150px;
    /* Устанавливает ширину логотипа */
    height: auto;
}


.nav-button {
    font-family: 'Lib';
    font-size: 15px;
    color: #ffffff;
    padding: 15px 29px;
    border-radius: 30px;
    border: 0px ridge #f3c846;
    background: #236076;
    background: linear-gradient(to top, #df9021, #d4c83f);
}

.nav-button:hover {
    color: #ffffff;
    background: #004484;
    background: linear-gradient(to top, #f66d52, #9e220a);
}