.navbar {
    display: flex;
    background: none;
    justify-content: space-around;
    align-items: center;
}

.center-logo img {
    width: 150px;
    /* Устанавливает ширину логотипа */
    height: auto;
}


.nav-button {
    font-family: 'Comfortaa';
    font-size: 23px;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 5px;
    border: 2px ridge #f3c846;
    background: #e35914;
    background: linear-gradient(to top, #e35914, #e3e120)
}

.nav-button:hover {
    color: #ffffff;
    background: #0b5d7d;
    background: linear-gradient(to top, #0b5d7d, #57e0b1);
}

