#container_training {
    position: relative;
    place-items: center;
    justify-content: center;
    display: flex;
    padding: 25px;
}

#image-container {
    display: block;
    justify-content: center;
    width: 100%;
    border-radius: 15%;
    padding: 30px;
}

#training {
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 15%;
}

.button-container {
    position: absolute;
    bottom: 20%;
    right: 4%;
}

.training_button {
    font-family: 'Lib';
    font-size: 4vw;
    color: #ffffff;
    padding: 2vw 5vw;
    border-radius: 5px;
    border: 2px;
    background: linear-gradient(to top, #236076, #64d7ce);
}

.training_button > a {
    text-decoration: none;
    color: #ffffff;
  }

.training_button:hover {
    color: #ffffff;
    background: #0b5d7d;
    background: linear-gradient(to top, #004484, #abf6ff);
}
