#container_training {
    position: relative;
    place-items: center;
    justify-content: center;
    display: flex;
}

#image-container {
    display: block;
    justify-content: center;
    width: 100%;
    border-radius: 15%;
}

#training {
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
}

.button-container {
    position: absolute;
    bottom: 10%;
    right: 4%;
}

.training_button {
    margin-right: 5vw;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 150%;
    color: #000000;
    padding: 1vw 2vw;
    border-radius: 20px;
    border: 2px;
    background: #FF9F00;
}

.training_button > a {
    text-decoration: none;
    color: #000000;
  }

.training_button:hover {
    color: #ffffff;
    background: #004484;
}
