.image-grid {
    display: flex;
    width: 100%; 
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;

}

.grid-item {
    max-width: 25%; /* Максимальная ширина изображения, можно задать любое значение */
    flex: 1;
    opacity: 0;
    /* Начальная прозрачность изображений */
    transition: opacity 0.5s ease;
    padding-bottom: 20px;
    border-radius: 70px;
    
    /* Анимация появления */
}

/* Анимация для появления */
.grid-item:nth-child(1) {
    animation: fadeIn 0.5s ease 0.5s forwards;
}

.grid-item:nth-child(2) {
    animation: fadeIn 0.5s ease 1s forwards;
}

.grid-item:nth-child(3) {
    animation: fadeIn 0.5s ease 1.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}