.navbar_ru {
    display: flex;
    background: none;
    justify-content: space-around;
    align-items: center;
}

.center-logo img {
    width: 10vw;
    height: auto;
}


.nav-button {
    cursor: pointer;
    margin-right: 5vw;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2vw;
    color: #000000;
    padding: 1vw 3vw;
    border-radius: 20px;
    border: 2px;
    background: #FF9F00;
    
    
}

.nav-button:hover {
    color: #ffffff;
    background: #004484;
}

.ru_button_language_ru {
    font-family: 'Arial';
    font-size: 1.5vw;
    background: #FF9F00;
    border: 1px;
}

.ru_button_language_en > a, .ru_button_language_de > a, .ru_button_language_ru  > a {
    text-decoration: none;
    color: #000000;
  }



.ru_button_language_de, .ru_button_language_en {
    align-items: center;
    font-family: 'Arial';
    font-size: 1.5vw;
    border: 1px;
    background: rgba(209, 242, 255, 1) 100%;
}

.ru_button_language_de:hover, .ru_button_language_ru:hover, .ru_button_language_en:hover {
    color: #ffffff;
    background: #004484;
}


@media (min-width: 1100px) {
    .nav-button {
      margin-right: 1vw; /* Новое значение для больших экранов */
    }
}