.Training_page,
.home, #root,
body {
    background: linear-gradient(0deg, rgba(5, 78, 96, 1) 0%, rgba(180, 224, 255, 1) 49%, rgba(209, 242, 255, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        font-family: 'Lib', sans-serif;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
}

.name_level {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px; /* Установите желаемый вес шрифта */
    /* Дополнительные стили по желанию */
}

@font-face {
    font-family: 'Lib';
    src: url('./fonts/Libertinus/LibertinusSerifDisplay-Regular.otf') format('truetype');
}
