body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(5, 78, 96, 1) 0%, rgba(180, 224, 255, 1) 49%, rgba(209, 242, 255, 1) 100%);
}