#contacts {
  width: 30%; /* Задаем ширину контактной формы */
  margin: 0 auto; /* Устанавливаем автоматические отступы слева и справа, чтобы контактная форма была по центру */
  padding: 1%; /* Добавляем небольшие внутренние отступы для контактной формы */
  background-color: #f0f0f0; /* Задаем цвет фона контактной формы */
  border-radius: 10px; /* Добавляем скругленные углы контактной форме */
}

label {
  display: block; 
/* Устанавливает блочный вид для названий */
}

h2 {
/* Выравниваем текст по центру */
  color: navy;
  text-align: center; /* Устанавливаем цвет текста */
}

#Name, #Email, #Message {
  text-align: center; /* Выравниваем текст по центру */
  color: navy; 
  padding: 3%;
  justify-content: space-between;
  align-items: center;
}
textarea-class {
  height: 200px; /* Установите высоту в пикселях или другую единицу измерения */
}